:root {
  /* # Colors */

  /* ## Primary */
  --Moderate_cyan: hsl(176, 50%, 47%);
  --Dark_cyan: hsl(176, 72%, 28%);
  --Offwhite: rgb(250 250 250);

  /* ## Neutral */

  --Black: hsl(0, 0%, 0%);
  --Dark_gray: hsl(0, 0%, 48%);

  /* ### Font */

  --commissioner_font: "Commissioner", sans-serif;
}
/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
button {
  font: inherit;
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}
body {
  height: 100vh;
  font-family: var(--commissioner_font);
  font-size: 1rem;
  background-color: var(--Offwhite);
}
/* header styling */
.header {
  background: url(./images/image-hero-mobile.jpg) no-repeat;
  background-size: cover;
  min-height: 350px;
  max-height: 700px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.toggle_menu_btn {
  background-color: transparent;
}

.mobile_menu {
  position: absolute;
  left: 6%;
  top: 25%;
  border-radius: .5rem;
  padding: 1.25rem;
  list-style: none;
  background-color: white;
  width: 90vw;
  color: black;
}

.mobile_menu li a {
  color: var(--Black);
  font-weight: 500;
  font-size: 1.25rem;
}

.mobile_menu li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.mobile_menu li {
  padding: 1rem 0;
}

.mobile_menu.hidden {
  display: none;
}
/* main styling */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_intro {
  position: relative;
  z-index: 1;
  margin-top: -60px;
}

.project_intro,
.progress_container{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 3rem 1.25rem 2rem;
  width: 90vw;
  max-width: 600px;
  background-color: white;
  border-radius: .5rem;
}

.logo {
  width: 50px;
  height: auto;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%);
}

.project_intro h1 {
  font-size: 1.5rem;
}

.project_intro p {
  opacity: .6;
}

.intro_btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.back.btn {
  border-radius: 100vmax;
  background-color: var(--Moderate_cyan);
  color: white;
  padding: 1rem 2rem;
  font-weight: 500;
}

.bookmark.btn {
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 88%);
  border-radius: 100vmax;
  gap: 1rem;
}
.bookmark.btn p {
  display: none;
}
.bookmark.btn.clicked img{
  color: #292626;
  -webkit-filter: brightness(2.65) sepia(0.42) hue-rotate(129deg) saturate(2);
          filter: brightness(2.65) sepia(0.42) hue-rotate(129deg) saturate(5);
}
.bookmark.btn.clicked p {
  color: var(--Dark_cyan);
  font-weight: 800;
}

/* modal */
.modal {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 2;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  width: 90vw;
  max-width: 600px;
  height: 100%;
  overflow-y: auto;
  background-color: white;
  padding: 1.25rem;
  border-radius: .5rem;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .25);
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal_header h2 {
  font-size: 1.25rem;
}

.modal_p,
.project_container_p {
  opacity: .6;
  font-size: .875rem;
}

.pledge_container,
.pledge_container_main {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: .5rem;
  padding: 2rem;
}
.pledge_container label:hover {
  cursor: pointer;
  color: var(--Moderate_cyan);
}
.pledge_container.out_of_stock,
.pledge_container_main.out_of_stock {
  opacity: .4;
  cursor: not-allowed;
}

.input_grp {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 600;
  margin-bottom: 2rem;
}

.input_grp input {
  display: none;
}

.radio_btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .25);
  position: relative;
}
.radio_btn::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--Moderate_cyan); /* Color of the filled circle */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Hidden by default */
  transition: opacity 0.2s ease;
}
.pledge_label {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.minimum_pledge {
  color: var(--Dark_cyan);
  font-weight: 600;
}
.remaining_container {
  display: flex;
  gap: .5rem;
  margin-top: 1rem;
  align-items: center;
}
.remaining,
.remaining_main {
  font-weight: 600;
}
/* selected pledge */
.pledge_container.selected {
  border: 1px solid var(--Moderate_cyan);
}
.pledge_container.selected .remaining_container {
  display: none;
}
.pledge_container.selected .pledge_input {
  display: flex;
}
.pledge_container.selected .radio_btn::before {
  opacity: 1; /* Show the filled circle when clicked */
}
.pledge_input {  
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, .1);
  padding-top: 1rem;
  margin-top: 1rem;
  width: 100%;
}
.pledge_input label {
  opacity: .6;
}
.pledge_container .pledge_input {
  display: none;
}
.pledge_btns {
  display: flex;
  position: relative;
  gap: 1rem;
  margin-top: 1rem;
}
.pledge_input input {
  width: 50%;
  border-radius: 100vmax;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: .75rem 2rem;
  font-weight: 600;
  max-width: 100px;
}
.currency {
  position: absolute;
  top: 25%;
  left: 5%;
}
.btn.continue {
  background-color: var(--Moderate_cyan);
  border-radius: 100vmax;
  padding: .75rem 1.5rem;
  color: white;
  font-weight: 600;
}
/* thank you modal */
.thank_you_modal {
  position: fixed;
  width: 90vw;
  max-width: 500px;
  border-radius: .5rem;
  z-index: 999;
  top: 10%;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.25rem;
  background-color: white;
  text-align: center;
  animation: fadeIn 1s ease backwards;
}
.thank_you_modal p {
  opacity: .6;
}
.thank_you_modal button {
  border-radius: 100vmax;
  background-color: var(--Dark_cyan);
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
}
.thank_you_modal.hidden {
  display: none;
}
/* progress container */
.progress_container {
  margin-top: 2rem;
  align-items: center;
}
.progress_container div:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 50%;
}
.progress_container div:not(:nth-child(3)):not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 1rem 0;
}
.progress_container div p:first-child {
  font-size: 1.75rem;
  font-weight: 700;
}
.progress_bar {
  width: 80vw;
  height: 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
}
.progress_bar div {
  width: 0;
  height: 100%;
  background-color: var(--Moderate_cyan);
  border-radius: 1rem;
}
/* project */
.project_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  line-height: 1.5;
  padding: 2rem 1.5rem;
  background-color: white;
  max-width: 600px;
}
.project_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pledge_container_main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.pledge_container_main .btn {
  background-color: var(--Moderate_cyan);
  padding: .5rem 2rem;
  border-radius: 100vmax;
  color: white;
  font-weight: 600;
}
.remaining_main {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .header {
    background: url(./images/image-hero-desktop.jpg) no-repeat;
    min-height: 400px;
    background-size: 100% 100%;
    padding: 4rem;
  }
  .toggle_menu_btn {
    display: none;
  }
  .mobile_menu.hidden,
  .mobile_menu {
    display: flex;
    gap: 1rem;
    background-color: transparent;
    position: unset;
    width: auto;
    padding: 0;
  }
  .mobile_menu li a {
    color: white;
  }
  .mobile_menu li:not(:last-child) {
    border-bottom: unset;
  }
  .mobile_menu li {
    padding: 0;
  }
  /* main */
  .bookmark.btn {
    padding-right: 1rem;
  }
  .bookmark.btn p {
    display: block;
  }
  .pledge_label {
    flex-direction: row;
  }
  .pledge_input {
    flex-direction: row;
    justify-content: space-between;
  }
  /* progess container */
  .progress_container {
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
    text-align: left;
  }
  .progress_container div:not(:nth-child(3)):not(:last-child) {
    border-bottom: none;
    border-right: 1px solid rgba(0, 0, 0, .1);
    padding-right: 1rem;
  }
  .progress_container div:not(:last-child){
    width: auto;
    border-bottom: none;

  }
}

